{% extends 'layout.html' %}
{% block titulo %}
    Crear Proveedor
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header" style="background:darkkhaki;">
            Agregar Proveedor
        </div>
        <div class="card-body" style="background:bisque;">
          <h4 class="card-title">Datos del Proveedor</h4>
            {% include "proveedores/form.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
  var provincia=$("#provincia").val();
  buscar(provincia);
    $("#provincia").change(function(){
        var provincia=$("#provincia").val();
        buscar(provincia);
    });
  
});
function buscar(provincia){
  var url = '/proveedores/ListaLocalidades/'+provincia;
  $.ajax({
      url: url,
      type: "get",
      dataType: "json",
      success: function(response) {
        console.log(response);
        $("#localidad").empty();
        for (var key in response.localidades) {
          var temp="<option value='"+response.localidades[key].codigo_localidad+"'>"+response.localidades[key].detalle+"</option>";
          $("#localidad").append(temp);
        }
      },
    });
};
</script>
{% endblock %}

