<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="form-group">
        <label for="cuit_cuil">CUIT/CUIL</label>
        <input id="cuit_cuilo" class="form-control" type="text" name="cuit_cuil" value="{{ proveedores.cuit_cuil }}">
    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input id="nombre" class="form-control" type="text" name="nombre" value="{{ proveedores.nombre }}" placeholder="Nombre del Proveedor">
    </div>
    <div class="form-group">
      <label for="domicilo">Domicilio</label>
      <input id="domicilio" class="form-control" type="text" name="domicilio" value="{{ proveedores.domicilio }}">
  </div>
    <div class="form-group">
        <label for="contacto">Contacto</label>
        <input id="contacto" class="form-control" type="text" name="contacto" value="{{ proveedores.contacto }}">
    </div>
    <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input id="telefono" class="form-control" type="text" name="telefono" value="{{ proveedores.telefono }}">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" class="form-control" type="text" name="email" value="{{ proveedores.email }}">
  </div>
    <div class="form-group">
        <label for="provincia">Provincia</label>
        <select id="provincia" class="form-control" name="provincia">
          {% for p in provincias %}
          <option value="{{ p.id }}">{{ p.nombre }}
          {% endfor %}
        </select>
    </div>
    <div class="form-group">
      <label for="localidad">Localidad</label>
      <select id="localidad" class="form-control" name="localidad">
      </select>
  </div>    
    <div class="form-group">
        <label for="observaciones">Observaciones</label>
        <input id="observaciones" class="form-control" type="text" name="observaciones" value="{{ proveedores.observaciones }}">
    </div>
<div class='mb-3 mt-3'>
<input class="btn btn-primary btn-sm" type="submit" value="Guardar">
<a href="{% url 'clientes:home' %}" class='btn btn-sm btn-danger'>Cancelar</a>
</div>
</form>
