{% extends 'layout.html' %}
{% block titulo %}
    Crear Cliente
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header" style="background:darkkhaki;">
            Agregar Cliente
        </div>
        <div class="card-body" style="background:bisque;">
          <h4 class="card-title">Datos del Cliente</h4>
   
           {% include "clientes/form.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
  var provincia=$("#prov").val();
  buscar(provincia);
    $("#prov").change(function(){
        var provincia=$("#prov").val();
        buscar(provincia);
    });
  
});
function buscar(pro){
  var url = '/clientes/ListaLocalidades/'+pro;
  $.ajax({
      url: url,
      type: "get",
      dataType: "json",
      success: function(response) {
        console.log(response);
        $("#loca").empty();
        for (var key in response.localidades) {
          var temp="<option value='"+response.localidades[key].id+"'>"+response.localidades[key].detalle+"</option>";
          $("#loca").append(temp);
        }
      },
    });
};
</script>
{% endblock %}

