<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-group">
          <label for="cuil">Cuil/Cuit</label>
          <input id="cuil" class="form-control" type="text" name="cuil" value="{{ cliente.cuil }}">
      </div>
      <div class="form-group">
          <label for="nombre">Nombre</label>
          <input id="nombre" class="form-control" type="text" name="nombre" value="{{ cliente.nombre }}" placeholder="Nombre o Razón Social">
      </div>
      <div class="form-group">
          <label for="direccion">Domicilio</label>
          <input id="direccion" class="form-control" type="text" name="direccion" value="{{ cliente.direccion }}">
      </div>
    <div class="form-group">
      <label for="prov">Provincia</label>
      <select id="prov" class="form-control" name="provincia">
          {% for p in provincia %}
          <option value="{{ p.id }}">{{ p.nombre }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="loca">Localidad</label>
      <select id="loca" class="form-control" name="localidad">
      </select>        
    </div>
    <div class="form-group">
      <label for="fecha_alta">Fecha Alta</label>
      <input id="fec_alta" class="form-control" type="text" name="fecha_alta" value="{{ fecha_alta }}">
      <input type='button' class='btn btn-xs' value='Modificar'>
  </div>
  <div class='mb-3 mt-3'>
  <input class="btn btn-primary btn-sm" type="submit" value="Guardar">
  <a href="{% url 'clientes:home' %}" class='btn btn-sm btn-danger'>Cancelar</a>
  </div>
</form>
