<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-group">
          <label for="cuil">Cuil/Cuit</label>
          <input id="cuil" class="form-control" type="text" name="cuil" value="{{ cliente.cuil }}">
      </div>
      <div class="form-group">
          <label for="nombre">Nombre</label>
          <input id="nombre" class="form-control" type="text" name="nombre" value="{{ cliente.nombre }}" placeholder="Nombre o Razón Social">
      </div>
      <div class="form-group">
          <label for="direccion">Domicilio</label>
          <input id="direccion" class="form-control" type="text" name="direccion" value="{{ cliente.direccion }}">
      </div>
    <div class="form-group">
      <label for="prov">Provincia</label>
      <select id="prov" class="form-control" name="provincia">
          {% for p in provincias %}
          <option value="{{ p.codigo }}">{{ p.nombre }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="loca">Localidad</label>
      <select id="loca" class="form-control" name="localidad">
        <option value="24">Posadas</option>
      </select>        
    </div>
    <div class="form-group">
      <label for="fecha_alta">Fecha Alta</label>
      <input id="fecha_alta" class="form-control" type="date" name="fecha_alta" value="{{ cliente.fecha_alta }}">
  </div>
    
  {% comment %} 
  {% for campo in formulario %}
   <div class="mb-3">
        <label for="" class="form-label">{{ campo.label }}: </label>
        <input 
            type="{{ campo.field.widget.input_type }}" 
            class="form-control" 
            name="{{ campo.name }}" 
            id="{{ campo.name }}"
            value="{{ campo.value | default:'' }}">
   </div>
   <div class='col-12 help-text'> {{ campo.errors}}</div>
  {% endfor %}  {% endcomment %}
  <div class='mb-3 mt-3'>
  <input class="btn btn-primary btn-sm" type="submit" value="Guardar">
  <a href="{% url 'clientes:home' %}" class='btn btn-sm btn-danger'>Cancelar</a>
  </div>
</form>