{% extends 'layout.html' %}
{% block titulo%}
Clientes
{% endblock %}
{% block contenido %}
    <div class='container'>
    <div class='card'>
        <div class='card-header text-center' style="background:mediumturquoise">
        <p class="h2 mb-3">Listado de Clientes</p>
        </div>
        <div class="card-body">
        <a href="{% url 'clientes:crear' %} " class="btn btn-sm btn-primary mb-3 mt-3"><i class="fa-solid fa-file-circle-plus"></i> Crear Cliente</a>
    
    <table id='cliente' class='table table-stripped table-sm'>
        <thead class='table-dark'>
            <th>CUIT/CUIL</th>
            <th>Nombre</th>
            <th>Domicilio</th>
            <th>Provincia</th>
            <th>Localidad</th>
            <th>Fecha Alta</th>
            <th>Observaciones</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for c in clientes %}
            <tr>
                <td>{{ c.cuil}}</td>
                <td>{{ c.nombre}}</td>
                <td>{{ c.direccion}}</td>
                <td>{{ c.provincia}}</td>
                <td>{{ c.localidad}}</td>
                <td>{{ c.fecha_alta }}</td>
                <td>{{ c.observaciones}}</td>
                <td>
                    <a href="editar/{{ c.id }}" class='btn btn-sm btn-success'><i class="fa-solid fa-pencil"></i> Editar</a>
                    <a href="eliminar/{{ c.id }}" class='btn btn-sm btn-danger'><i class="fa-solid fa-trash-alt"></i> Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
    </div>

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function () {
    $('#cliente').DataTable();
});
</script>
{% endblock %}